.container {
    width: 70%;
    margin: auto;
}

.detalle {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detalleImagen {
    width: 100%;
}

.detalleNombre {
    width: 100%;
}

.terminarCompra {
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}